/*	*******************************************
	Styling of the Z-pattern page layout 
	******************************************* */
.z-pattern { 
	background-image: url(../images/rugbyball.png);
	background-size: cover;
	background-position: center;
}

/*	*******************************************
	Fixed positioning of the header/footer
	******************************************* */
.persistent {
	position: fixed;
	left: 0;
	width: 100%;
}
header.persistent { top: 0; }
footer.persistent { bottom: 0; }

/*	*******************************************
	Styling of the four Z-pattern quadrants
	******************************************* */
.primary, .strong, .weak, .terminal {
	margin: 35px; /* ...style to taste */
}
.primary, .weak { margin-left: 0; }
.strong, .terminal { margin-right: 0; }

/*	*******************************************
	Flex positioning of the four quadrants
	******************************************* */
header .container, footer .container { 
	display: flex;
	justify-content: space-between;
}

.primary, .strong, .weak, .terminal { 
	align-self: center;
}
.strong, .terminal { text-align: right; }
.terminal { 
	font-size: xx-large;
	background-color: yellow; 
    display: block;
    grid-column: 5;
    grid-row: 3}

/*	*******************************************
	Positioning of the centered message
	******************************************* */
.z-pattern main { 
	display: flex; 
	justify-content: center;
	grid-column: 1/6;
	align-items: center;
	min-height: 60vh;
	text-align: center;
}
main p{
	color: white;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}